<footer class="site__content island" style="color:black">
	<div id="footer">
		<div class="col-md-12 ">
				<hr>
	            <p><center><p class="footertext">Group 4&nbsp;&nbsp;|&nbsp;&nbsp;2L2R: Terms and Condition Analyzer&nbsp;&nbsp;|&nbsp;&nbsp;&copy; PUP 2014</p></center></p>
	        </div>
	    </div>
	</div>
</footer>

