<footer>
	<div id="footer">
	    <div class="container">
	            <div class="row">
	            <p><center> <p class="footertext">Group 4&nbsp;&nbsp;|&nbsp;&nbsp;2L2R: Terms and Condition Analyzer&nbsp;&nbsp;|&nbsp;&nbsp;&copy; PUP 2014</p></center></p>
	        </div>
	    </div>
	</div>
</footer>