<header class="site__header island" >
  <div class="wrap" style="margin-top: 7%;">
   <span style="display: block;"><h1 class="site__title mega">2L2R</h1></span>
    <span class="beta subhead">Terms and Condition Analyzer</span>
  </div>
</header>