<main class="site__content island" role="content">
  <div class="wrap">
  		<form action="search">
	        <div class="col-md-14">
	            <div id="custom-search-input" style="margin-bottom: 15%;">
	                <div class="input-group col-md-12">
	                    <input type="text" class="form-control input-lg" value="http://" name="url">
	                    <span class="input-group-btn">
	                        <input class="btn btn-info btn-lg" type="button" value="GO" onclick="Search">
	                    </span>
	                </div>
	            </div>
	        </div>
	    </form>
        <div class="col-md-10 col-md-offset-1">
	        <h4>Enter any website address to get a quick, simple overview of its Terms of Service</h4>
		</div>
	</div>
</div>